.carousel-tamanho img {
  width: 100% !important; /* Largura total do contêiner do carrossel */
  height: 500px !important; /* Altura fixa */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

